.indexsprict{ background:url("indexsprict.png") top left no-repeat; }
._5794650d36efe_r26_c5{ width:1001px; height:299px; background-position:-10px -10px; }
._5794650d36efe_r6_c5{ width:212px; height:197px; background-position:-10px -319px; }
._5794650d36efe_r12_c34{ width:238px; height:119px; background-position:-232px -319px; }
._5794650d36efe_r4_c4{ width:90px; height:71px; background-position:-480px -319px; }
._5794650d36efe_r8_c7{ width:48px; height:47px; background-position:-580px -319px; }
._5794650d36efe_r8_c10{ width:48px; height:47px; background-position:-638px -319px; }
._5794650d36efe_r8_c12{ width:48px; height:47px; background-position:-696px -319px; }
._5794650d36efe_r8_c14{ width:48px; height:47px; background-position:-754px -319px; }
._5794650d36efe_r8_c19{ width:48px; height:47px; background-position:-812px -319px; }
._5794650d36efe_r8_c23{ width:48px; height:47px; background-position:-870px -319px; }
._5794650d36efe_r8_c25{ width:48px; height:47px; background-position:-928px -319px; }
._5794650d36efe_r8_c29{ width:48px; height:47px; background-position:-10px -526px; }
._5794650d36efe_r10_c2{ width:31px; height:38px; background-position:-68px -526px; }
._5794650d36efe_r21_c17{ width:25px; height:25px; background-position:-986px -319px; }
._5794650d36efe_r17_c16{ width:25px; height:25px; background-position:-109px -526px; }
._5794650d36efe_r14_c27{ width:24px; height:24px; background-position:-144px -526px; }
._5794650d36efe_r22_c28{ width:24px; height:23px; background-position:-178px -526px; }
._5794650d36efe_r13_c18{ width:23px; height:23px; background-position:-212px -526px; }
._5794650d36efe_r18_c26{ width:31px; height:18px; background-position:-245px -526px; }
._5794650d36efe_r2_c35{ width:16px; height:16px; background-position:-286px -526px; }

