/*去除BT的默认样式*/
a:hover{
	text-decoration: none;
}

/*PC端口*/
@media (min-width:1200px) {
  .wp{
  	width:1200px;
  	margin: 0 auto;  	
  }
  .navbar-default{
	background:#fff;
	border-color: #fff;
	}
  .logo{
  	margin-right: 130px;
  } 	
  .navbar-nav>li>a {
		font-size: 24px;
	    padding-top: 22px;
	    padding-bottom: 15px;
   }
   .wp-1200{
   	width: 1200px;
   	margin: 0 auto;  
   	
   }
   /*轮播图*/
      .swiper-container .swiper-pagination-bullet{
       	width: 20px;
       	height: 20px;       
       }
      .swiper-container .swiper-pagination-bullet-active {
   	    background: red;
   	}
      .p1{
        font-size: 58px;
        line-height: 56px;
        height: 56px;
        margin-bottom: 10px;
        color: #fff;
        margin-top: 5px;
    }
    .p2{
        font-size: 50px;
        text-transform: uppercase;
        padding-top: 0;
        color: #e4392a; 
    }
   .p3{
        font-size: 50px;
        color: #e4392a;
   }

   .img-ts{
	margin-top: 40px;
	}

	/*产品部分*/
    /* .pr-li li{
        
    }*/
    .wp-1250{
    width: 1300px;
    margin: 0 auto;
    }
     .ab-img-w100 img{
    width: 100%;
    } 
    .dropdown-menu>li>a {       
        padding:3px;       
    }
	.tab-ul li:first-child{
		border-radius: 6px 0 0 6px;
	}
	.tab-ul li:last-child{
		border-radius: 0 6px 6px 0;
	}
    .tab-ul a{
        color: #000;
    }
    /*工程案例*/
    

	/*底部*/
	.footer-nav{
		text-align:center;
	}
}

/*手机端口*/
@media (max-width:768px){
	.wp-1200{
   		width:100%;
   }  
    .logo img{
      height: 50px;
    }
   .p1{    
     font-size:18px;
    }
    .p2{
     font-size:14px;
     color: #e4392a;
    }
     .ab-img-w100 img{
    width: 50%;
    } 
 
   /*主页产品展示部分*/
   .pr-li li{
    width:48%;
    margin-left:1%;
   }
    .about-c1 img{
        width: 100%;
    }
    /*工程案例*/
 
	/*内容4 news 部分*/

	.new-date{
		margin-left: 10px;
	}
	/*底部*/
	.footer-nav{
		text-align:left;
	}  
    /*新闻内页主要内容部分*/
    .news-txt img{
        width: 100%;
    } 
    /*产品内页主要内容部分*/
    .product-content img{
        width: 100%;
    }
    .fly{
    text-align: center;
    }

    
} 
/*----------------------------------------*/
/*公用样式*/

    h4{
        font-size: 29px;
    }

    .m-top{
        margin-top: 20px;
    }
    .hr img{
        margin-top: 20px;        
    }  
   
	/*清除与banner图下面的空间*/
	.navbar{
		margin-bottom: 0;
	}
    .navbar-default .navbar-nav>li>a{
        color: #000;    
    }
	.navbar-default .navbar-nav>li>a:hover {
	    color: red;
	    background-color: transparent;
	}

    /*轮播图*/
	.swiper-container {
        width: 100%;
        height: auto;
    }    
    .swiper-container .swiper-slide img{
        width: 100%;
    }   
    .p-top{
        position: relative;
    }
    .p-txt{
      position:absolute;
      top:50%;
      left:50%;        
      -webkit-transform:translate(-50%,-50%);
      -moz-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
    }
  
/*内容1   */

.c1{	
	padding-bottom: 20px;
}
   
 
.about-h2{
    color: red;
    font-weight: bold;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
}
.ab-img1 p{
    text-indent: 2em;
}
.ab-img1,.ab-img2,.ab-img3,.ab-img4{
	overflow: hidden;	
	padding-right: 10px;
	padding-left: 10px;	
}

/*内容3*/
.c3-h2{	
    color: red;
    font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;	
}
/*新品上市*/
.new-pro h2{
    padding-bottom: 10px;
    border-bottom:1px solid #ccc;
}
/*产品*/
.fz-18{
    font-size: 18px;
    font-weight: bold;
}
.fz-10{
   font-size: 10px; 
}
 .btn{
    padding: 29px 12px;
}



.new-pro-ul img{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}
.m-b20{
	margin-bottom: 20px;
}
.tab-ul{
	text-align: center;
	font-size: 0;
}

.tab-ul li{		
	display: inline-block;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	padding: 0 18px;
	border: 1px solid #d4d4d4;
	margin-left: -1px;
	transition: all .25s ease;
	cursor: pointer;
	font-size: 14px;
	background: #fff;	
}
.tab-ul li:hover{ 
	background:#ef3333;
 	border:1px solid #ef3333;
 	color: #fff;
 }
.tab-ul li:hover a{
 	color: #fff;
 }
.pr-li img{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/*工程案例*/
.eg-show{
    overflow: hidden;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ececec;
}
 .menu {
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 30px;
}
 .menu li {
        /*float: left;*/
        display: inline-block;
        width: 199px;
        height: 57px;
        position: relative;
        margin-right: 1px;
        background-color: #fff;
        font-size: 16px;
        line-height: 57px;
    }

 .menu li a {
    color: #333333;
}

 .menu b {
    display: block;
    float: left;
    margin-left: 28px;
    width: 31px;
    height: 28px;
    margin-top: 14px;
    margin-right: 10px;
}

 .menu .b01 {
    background: url(../images/case_icon01.png) no-repeat center top;
}

 .menu .b02 {
    background: url(../images/case_icon02.png) no-repeat center top;
}

 .menu .b03 {
    background: url(../images/case_icon03.png) no-repeat center top;
}

 .menu .b04 {
    background: url(../images/case_icon04.png) no-repeat center top;
}

 .menu .b05 {
    background: url(../images/case_icon05.png) no-repeat center top;
}

 .menu li em {
    display: none;
    width: 22px;
    height: 7px;
    background: url(../images/case_s.png) no-repeat center;
    position: absolute;
    left: 88px;
    bottom: -7px;
}

 .menu li.on {
    background-color: #d80007;
}

 .menu li.on a {
    font-weight: bold;
    color: #fff;
}

 .menu li.on em {
    display: block;
}

 .menu li.on b {
    background-position: bottom;
}
.menu-div img{
    border: 1px solid #ccc;
    padding: 5px;
}
.menu-div ul li{
    margin:5px;
}



/*内容5  news*/
.news{
	margin-top: 50px;
	margin-bottom: 50px;
}
.news ul li{
	margin-bottom: 20px;
}
.news ul li a:hover{
	color: #fff;
}
.new-li-img img{
    width: 100%;
    height: 150px;
}
.new-li-txt  h4{
    font-size:16px;
    color:#494949;
    font-weight: bold;
}
.date{
    font-size: 13px;
    color: #BFBFBF;
    height: 25px;
    line-height: 25px;
}
.more{   
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;    
    border-radius:15px;
    background:rgb(241,241,241);
}
.more:hover{
    background: rgb(245,131,33);
}
.more a{
    color: #878787;
}
.sketch{
    font-size: 13px;
    color: #878787;
    text-indent: 2em;
}

/*底部*/
.footer{
	margin-top: 20px;
	background: rgb(25,25,56);
	color: #fff;
	font-size: 20px;
}
.footer-nav {
	margin-top: 20px;
	padding-top: 20px;     
    border-top: 1px solid #3d3f41;
}
.footer-nav ul li a:hover{
	color: red;
}
.linkme a{
	color: #b4b4b4;
}
.linkme a:hover{
	color: red;
}
.copy{
    font-size: 14px; 
}
/*------------------------关于我们----栏目2------------*/
.position{
	margin-top: 10px;
	color: #999;
}
.position a{
	color: #000;
}
.about-c1{
	padding:20px 0;
}

/*产品中心*/
.sorce-box{	
	box-shadow: 0px 0px 8px #888;
}
.box-top{
	margin-top: 14px;
	margin-bottom: 4px;
	border: 1px solid #ccc;
}


.fly li {    
	padding: 0;   
    margin: 0 10px 20px 10px;
    background: #fff;
    border: 1px solid transparent; 
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;  
}
.txt-img{
	width:100%;
   /* height: 240px;*/
    overflow: hidden;
    margin-bottom: 10px;
}
.txt-img a{
	display: inline-block;
}
.fly li img {
	 width: 100%;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.fly li img:hover{
    -webkit-transform: scale(1.23);
	transform: scale(1.23);
}
.fly li:hover{
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #888;
}
/*翻页*/
.ep-pages {    
    font-size: 14px;  
    margin-bottom: 20px;
}

.ep-pages a,.ep-pages span {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    vertical-align: top;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.ep-pages a:hover {
    background: #ef3333;
    border: 1px solid #ef3333;
    text-decoration: none
}

.ep-pages a,
.ep-pages a:visited {
    color: #252525
}

.ep-pages a:hover,
.ep-pages a:active {
    color: #ffffff
}

.ep-pages .current {
    background: #ef3333;
    border: 1px solid #ef3333;
    color: #fff
}

.ep-pages a.current,
.ep-pages a.current:visited {
    color: #ffffff
}

.ep-pages a.current:hover,
.ep-pages a.current:active {
    color: #ffffff
}

.ep-pages-e5e5e5 {
    color: #e5e5e5
}

.ep-pages-all {
    font-size: 12px;
    vertical-align: top
}

/*---------------新闻中心---栏目3-------------------*/
.new-content-list{
	padding-bottom: 50px;		
	background: rgb(246,246,246);
}
.new-content-list ul{
	padding-top: 20px;
}
.new-content-list ul li{ 
	width:48%;
	float: left;
	text-align:center;
	background:#fff; 
	margin-bottom:20px;
	padding: 0;
}
.new-content-list ul li:nth-child(odd){
	float: right;
}
.news-li {
    border: 1px solid #e3e3e3;
    padding: 20px 19px;
    position: relative;
    padding-bottom: 70px;
}
.news-title a {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.news-pic img{
	width:100%;	
}
.news-time {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}
.news-des {
	font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
    min-height: 40px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    color: #777;
}
.news-detail{
    width: 37px;
    height: 37px;
    position: absolute;
  	left:50%;
  	margin-left: -18px;
    bottom: 0;
}
.news-detail a {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../images/newsico.gif) no-repeat;
    transition: all 0.2s;
    -ms-transition: all 0.2s;
}
.news-li:hover .news-detail a{ 
	background-position:0 -37px;
	transition:all 0.2s; 
	-ms-transition:all 0.2s;
}

/*-------------------联系我们----------------------*/
.connect {
    background: url("../images/cn01.jpg") no-repeat top;    
}
.connect_column {
    margin-top: 40px;
}
.connect_column li {
    float: left;
    text-align: center;   
    height: 218px;    
    position: relative;
    padding-top: 42px;
    font-size: 16px;
    color: #333;
    line-height: 32px;
}
.connect_column li:first-child {
    margin-left: 0;
}
.connect_column h2 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.connect_column .info {
    position: relative;
    z-index: 2;
}
.connect_column .text {
    margin: 0 20px;
}
.connect_column .s1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #de6764;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.connect_column .s2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #58bec8;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.connect_column .s3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9ac047;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.connect_column .s4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #31a0e1;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.connect_column .i1 {
    display: inline-block;
    width: 36px;
    height: 46px;
    background: url("../images/sprite2.png") no-repeat 0 0;
}
.connect_column .i2 {
    display: inline-block;
    width: 42px;
    height: 46px;
    background: url("../images/sprite2.png") no-repeat -38px 0;
}
.connect_column .i3 {
    display: inline-block;
    width: 40px;
    height: 46px;
    background: url("../images/sprite2.png") no-repeat -83px 0;
}
.connect_column .i4 {
    display: inline-block;
    width: 40px;
    height: 46px;
    background: url("../images/sprite2.png") no-repeat -125px 0;
}
.connect_column a {
    color: #333;
}
.connect_share {
    border-top: 2px solid #43bcc7;
    width: 120px;
    margin: 46px auto 0;
    text-align: center;
    padding-top: 46px;
}
.connect_share .sh1 {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/sprite2.png") 0 -48px;
    margin-right: 9px;
}
.connect_share .sh2 {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/sprite2.png") -41px -48px;
}
.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}
.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}
/*产品内页*/
.page-img img{   
    width: 100%;   
    border: 1px solid #fff; 
    cursor: pointer;
}
.page-img img:hover{
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #888;
  
}
.pul-hr{
    background: url("../images/hr.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35px;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    padding-left: 10px;
    font-weight: 900;
    color: red;
}

.additioncolumntitle h2{
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    padding-top: 5px;
    margin:0;   
}
.additioncolumntitle {
    text-align: left;
    background: url("../images/RED051816.jpg");
    font-weight: 900;
    height: 32px;
    line-height: 32px;
    color: #ffffff;
}
.aicon {
    display:inline-block;
    width: 25px;
    height: 14px;
    background: url("../images/RED051811.jpg")no-repeat center;
}
.new-li-bg{
    padding: 10px;
    background: #f0f0f0;
}
.icon1 {
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url("../images/RED051815.gif");
    background-repeat: no-repeat;
}
.pro-contxt{
    font-size: 24px;
}
.xg-right a{
    color: #000;
}
.xg-right a:hover{
    color:#84B263
}

.money{
    color: red;
}
.h2-score{
    background:rgb(245,245,245);
}
.next-pro{
    margin-top: 5px;
}
.next-pro a{ 
    color: #000;
}
.next-pro a:hover{
    color: blue;
}
.next-imgbg{
    margin-right: 15px;
    text-indent: 2em;
    background: url("../images/next.png")no-repeat left center;
}
.prev-imgbg{
    padding-right:2em;
    background: url("../images/prev.png")no-repeat right center;
}

/*新闻内页*/
.return{
    height: 26px;
    padding-left: 30px;
    background: url(../images/return-icon.png)no-repeat left center;
}
/*自定义按钮*/
.btn-pink{
    background-image: -webkit-radial-gradient(bottom left,circle,#f857bd,#fc7672,#ff8847);
background-color: #fc7672;
}
.btn-blue{
    background-image: -webkit-radial-gradient(bottom left,circle,#4a6ef5,#3f8df8,#33b1fb);
    background-color: #3f8df8;
}
.btn-green{
    background-image: -webkit-radial-gradient(bottom left,circle,#35c62e,#7cd945,#aee656);
    background-color: #7cd945;
}
.btn-bgren{
    background-image: -webkit-radial-gradient(bottom left,circle,#9e91fa,#9094f7,#7499f2);
    background-color: #9094f7;
}
.btn-yellow{
    background-image: -webkit-radial-gradient(bottom left,circle,#fdb41f,#f6c61c,#edde18);
    background-color: #f6c61c;
}
