.listmain {
    background: #f3f3f3;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.listtit{
	width: 100%;
    margin: 0 auto;
	border-bottom:1px #dedede solid;
	margin-top:60px;
}
.listtit p{
	 width:1200px;
	 margin:0 auto;
	 text-align:center;
	 font-size:28px; 
	 margin-bottom:25px;
}
.listtit span{
	 width:1200px; 
	 margin:0 auto; 
	 text-align:center; 
	 display:block; 
	 color:#999;  
	 word-spacing:3px; 
	 letter-spacing: 2px;
}
.listtit img{
	 width:82px; 
	 display:block; 
	 margin:0 auto;
}
.listm01{
 	width:1200px;
 	margin:0 auto;
 }
.lim01left{ 
	float:left;
	margin-top:60px;
	width:600px;
}
.lim01left img{ 
	margin:0 auto;
	width:385px;
	display:block;
}
.lim01rig{ 
	float:left;
	margin-top:60px;
	width:600px;
}
.lim01rig h2{
	font-size:21px;
	font-weight:normal;
	margin-bottom:30px;
	margin-top:25px;
}
.lim01rig p{
	font-size:14px;
	color:#999;
	line-height:30px;
}
.lim01rig img{
	 margin-top:35px;
	 margin-right:50px;
}
.listm02{
	 width:1200px;
	 margin:0 auto;
	 overflow:hidden;
}
.listm02 ul{
	 padding:0;
	}
.listm02 ul li{
	 float:left; 
	width:328px;
	height:70px;
	border:1px #dedede solid;
	padding:30px 40px 0 30px;
	margin-top:45px;
}
.listm02 ul li p{
	 font-size:18px;
	 margin-bottom:8px;
}
.listm02 ul li span{
	 color:#999;
}
.listm02 ul li img{
	 vertical-align:middle;
	 float:right;
	 margin-top:-15px;
}
.ss01{
	background:#ffbc1b;
	color:#fff;
}
.ss01 span{
 	color:#fff;
}
.ss01 p{ 
	color:#fff;
}
.ss01 span{ 
	color:#fff;
} 
.listm03{ 
	width:1200px;
	margin:0 auto;
	overflow:hidden;}
.listm03 ul{
	padding:0;
	margin-top:24px; 
	width:583px; 
	float:left;
}
.listm03 ul li{
	 width:478px;
 	height:120px; 
 	background:#ebebeb; 
 	margin-top:34px; 
 	padding:50px 0 0 105px;
 }
.listm03 ul li img{
	 vertical-align:middle;
	 float:left;
	 margin-right:25px;
}
.listm03 ul li p{
	 font-size:20px;
	 margin-bottom:20px;
}
.listm03 ul li span{
	 font-size:14px;
	 color:#999;
}
.listm03 ul li.ll01{
	 padding:0;
	 width:583px;
	 height:170px;
	 overflow:hidden;
}
.listm03 ul li .ss02{
 	 background:#ffbc1b;
 	 height:120px;
 	  width:478px;
 	  padding:50px 0 0 105px;
 	   color:#fff;
}
.listm03 ul li .ss02 span{
	color:#fff;
}
.listm04{
	 width:1200px;
	 margin:0 auto;
}
.listm04 ul{
 	padding:0;
 	float:left;
 	margin-top:40px;
 	margin-bottom:50px;
 }
.ss03{ 
	margin-left:6px;
}
.ss04{ 
	margin-top:5px;
}